*{
    box-sizing: border-box;
}
html{
    width: 100%;
    text-align: center;
    background-color: rgba(253, 255, 116, 0.61);
    color: rgb(36, 44, 78);
}
header{
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(128, 169, 245, 0.432);
    color: rgb(42, 43, 35);
}
   

.main{
    clear: both;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.SecondColumn{
    float: left;
    width: 60%;
    padding: 5px;
    
}

.resultsColumn{
    float: right;
    width: 40%;
 
    }
    
.products {
margin-bottom: 50px;
height: 50%;
margin-top: 50px;
    
}

#leftImageElement{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border: solid goldenrod;
    border-radius: 10px;
    width: 195px;
    height: 150px;
}

#middleImageElement{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border: solid goldenrod;
    border-radius: 10px;
    width: 195px;
    height: 150px;
}

#rightImageElement{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border: solid goldenrod;
    border-radius: 10px;
    width: 195px;
    height: 150px;
}

.text{
    clear: both;
    top: 100px;
    background-color: rgb(160, 141, 179);
}
.text p{
    clear: both;
    margin-left: 5px;
    margin-right: 5px;
    position:relative;
    text-align: left;
    font-size: large;
}

button {
    color: rgb(254, 255, 209);
    font-size: large;
    margin: 2rem 0.5rem;
}

button:hover{
    background-color: rgba(250, 128, 114, 0.788);
    border-color:salmon;
}
ul li{
    margin-bottom: 15px;
    text-align: left;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: double goldenrod;
    padding: 5px;
}

